{{ define "main" }}

<style>
  /* nur für diese single.html */
  .blog-details-discription .disc p,
  .blog-details-discription .disc li,
  .blog-details-discription .disc span {
    font-weight: 700;
  }
</style>

{{ partial "breadcrumb.html" . }}

<div class="blog-classic-area-wrapper tmp-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-details-left-area">

          {{ with .Params.featured_image }}
          <div class="thumbnail-top">
              <img src="{{ . }}" alt="{{ $.Title }}">
          </div>
          {{ end }}

          <div class="blog-details-discription">
            <div class="blog-classic-tag">
              <h4 class="title">Von {{ .Params.author }}</h4>
              <ul>
                <li>
                  <div class="tag-wrap">
                    <i class="fa-solid fa-tag"></i>
                    <h4 class="tag-title">{{ .Params.category }}</h4>
                  </div>
                </li>
                <li>
                  <div class="tag-wrap">
                    <i class="fa-solid fa-calendar-day"></i>
                    <h4 class="tag-title">
                      {{ .Date.Format "02.01.2006" }} 
                    </h4>
                  </div>
                </li>
              </ul>
            </div>

            <h3 class="title split-collab">{{ .Title }}</h3>

            <div class="disc">
              {{ .Content }}
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4">
        <div class="tmp-sidebar">
          <!-- Sidebar bleibt unverändert -->
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
