<div class="breadcrumb-area breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner text-center">

          <!-- Page Title -->
          <h1 class="title split-collab">
            {{ with .Title }}
              {{ . }}
            {{ else }}
              {{ .File.BaseFileName | humanize | title }}
            {{ end }}
          </h1>

          <!-- Breadcrumb Navigation -->
          <ul class="page-list">

            <!-- Level 1: Start -->
            <li class="tmp-breadcrumb-item">
              <a href="{{ "/" | relURL }}">Start</a>
            </li>

            <!-- Trenner -->
            <li class="icon">
              <i class="fa-solid fa-angle-right"></i>
            </li>

            {{/* FALL A: Blog-Übersichtsseite: /blog/  --> Start > Blog */}}
            {{ if and (eq .Section "blog") (eq .Kind "section") }}

              <li class="tmp-breadcrumb-item active">
                Blog
              </li>

            {{/* FALL B: Blog-Post: /blog/post/  --> Start > Blog > Titel */}}
            {{ else if and (eq .Section "blog") (eq .Kind "page") }}

              <li class="tmp-breadcrumb-item">
                <a href="{{ "/blog/" | relURL }}">Blog</a>
              </li>

              <li class="icon">
                <i class="fa-solid fa-angle-right"></i>
              </li>

              <li class="tmp-breadcrumb-item active">
                {{ .Title }}
              </li>

            {{/* FALL C: alle anderen Seiten: Start > Titel */}}
            {{ else }}

              <li class="tmp-breadcrumb-item active">
                {{ with .Title }}
                  {{ . }}
                {{ else }}
                  {{ .File.BaseFileName | humanize | title }}
                {{ end }}
              </li>

            {{ end }}

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
