{{/*
  Breadcrumb: die Kette wird einmal als Slice aus (name, url) aufgebaut und
  daraus sowohl die sichtbare Navigation als auch das BreadcrumbList-JSON-LD
  erzeugt. Der letzte Eintrag ist immer die aktuelle Seite (ohne Link).
*/}}
{{ $pageTitle := "" }}
{{ with .Title }}
  {{ $pageTitle = . }}
{{ else }}
  {{ $pageTitle = .File.BaseFileName | humanize | title }}
{{ end }}

{{/* In der Breadcrumb selbst steht die Blog-Uebersicht kurz als "Blog" */}}
{{ $crumbName := $pageTitle }}
{{ if and (eq .Section "blog") (eq .Kind "section") }}
  {{ $crumbName = "Blog" }}
{{ end }}

{{ $crumbs := slice (dict "name" "Start" "url" site.Home.Permalink) }}
{{ if and (eq .Section "blog") (eq .Kind "page") }}
  {{ $crumbs = $crumbs | append (dict "name" "Blog" "url" ("blog/" | absURL)) }}
{{ end }}
{{ $crumbs = $crumbs | append (dict "name" $crumbName "url" .Permalink) }}

<div class="breadcrumb-area breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner text-center">

          <!-- Page Title -->
          <h1 class="title split-collab">{{ $pageTitle }}</h1>

          <!-- Breadcrumb Navigation -->
          <ul class="page-list">
            {{ range $i, $c := $crumbs }}
              {{ if $i }}
                <li class="icon">
                  <i class="fa-solid fa-angle-right"></i>
                </li>
              {{ end }}
              {{ if eq (add $i 1) (len $crumbs) }}
                <li class="tmp-breadcrumb-item active">{{ $c.name }}</li>
              {{ else }}
                <li class="tmp-breadcrumb-item"><a href="{{ $c.url }}">{{ $c.name }}</a></li>
              {{ end }}
            {{ end }}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

{{ $items := slice }}
{{ range $i, $c := $crumbs }}
  {{ $items = $items | append (dict "@type" "ListItem" "position" (add $i 1) "name" $c.name "item" $c.url) }}
{{ end }}
<script type="application/ld+json">
{{- dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items | jsonify | safeJS -}}
</script>
