{{ define "main" }}

<div class="blog-classic-area-wrapper tmp-section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <div class="blog-details-left-area text-center">

          <br>

          <h2 class="title">Seite nicht gefunden</h2>

          <div class="our-portfolio-swiper">
            <p class="disc" style="font-weight: bold;">
              Die angeforderte Seite konnte ich leider nicht finden.
            </p>
          

            <br>

            <p class="disc" style="font-weight: bold;">
              Sie können zur Startseite zurückkehren oder direkt Kontakt mit mir aufnehmen.
            </p>

            <div class="about-content-area">
              <div class="container tmp-section-gap">
                <div class="text-para-doc-wrap">
                  <div class="about-btn tmp-fade-in animation-order-">
                    <a class="tmp-btn hover-icon-reverse radius-round" href="{{ "/" | relURL }}">
                      <span class="icon-reverse-wrapper">
                        <span class="btn-text">Zur Startseite</span>
                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                      </span>
                    </a>
                  </div>
                  <br>
                  <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                    Oder <span>direkt</span> Kontakt aufnehmen. Ich freue mich über jede Nachricht!
                  </h2>
                </div>
              </div>
            </div>

          </div> <!-- .our-portfolio-swiper -->

        </div> <!-- .blog-details-left-area -->
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- .container -->

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <a href="mailto:hello@creimann.cc" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <h4 class="service-title">Per Mail</h4>
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/" target="_blank" rel="noopener" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <h4 class="service-title">Auf LinkedIn</h4>
          </div>
        </a>
      </div>

    </div>
  </div>

</div> <!-- .blog-classic-area-wrapper -->

{{ end }}
