{{ define "main" }}

<div class="blog-classic-area-wrapper tmp-section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <div class="blog-details-left-area text-center">

          <br>

          <h2 class="title">Seite nicht gefunden</h2>

          <div class="our-portfolio-swiper">
            <p class="disc" style="font-weight: bold;">
              Die angeforderte Seite konnte ich leider nicht finden.
            </p>
         
  
          </div> <!-- .our-portfolio-swiper -->

        </div> <!-- .blog-details-left-area -->
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- .container -->

<div class="about-content-area">
        <div class="container tmp-section-gap">
            <div class="text-para-doc-wrap">
                    
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                         <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="/">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Starseite</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                       </h2>
            </div>
        </div>
    </div>

</div> <!-- .blog-classic-area-wrapper -->

{{ end }}
